# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# IDEs
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Compiled / build artifacts
dist/
build/
*.egg-info/